:root {
  --font-mono: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-mono);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.brand-name {
  margin-bottom: -15px;
  font-size: 3rem;
  font-weight: 1000;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

#main-img {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  transform: translateX(-9px);
  position: relative;
}

.overlay-about {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  font-weight: bold;
  color: rgb(255, 8, 0);
  font-family: var(--font-mono);
  pointer-events: none;
  z-index: 12;
  transition: opacity 0.3s ease;
}

.overlay-vertical {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5vw;
  font-weight: bold;
  color: red;
  font-family: 'Anton', sans-serif;
  line-height: 1.5;
  pointer-events: none;
  opacity: 0;
  z-index: 20;
  text-align: center;
  transition: opacity 0.3s ease;
}

.brand-slogan {
  margin-top: -4px;
  font-size: 1.1rem;
  font-weight: 1000;
  text-align: center;
  line-height: 1.8;
  font-family: 'Anton', sans-serif;
  color: black;
   transform: translateX(6px);
}

.container:hover .overlay-about {
  opacity: 0;
}

.container:hover .brand-name {
  color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 768px) {
  .brand-name {
    font-size: 2rem;
    margin-bottom: -2px;
  }

  .overlay-about {
    font-size: 1rem;
    top: 40%;
  }

  .overlay-vertical {
    font-size: 2.5rem;
    top: 45%;
  }

  .brand-slogan {
    font-size: 0.9rem;
    margin-top: 0.7rem;
    line-height: 1.6;
  }

  #main-img {
    max-width: 90vw;
    max-height: 60vh;
  }
}
