body {
  background: #fffef5;
  margin: 0;
  padding: 80px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #111;
}

.scene-description {
  margin-bottom: 100px;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 93px;
}

.label {
  font-size: 130px;
  font-family: 'Playfair Display', serif;
  color: #e96236;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.thumb {
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  display: block;
  margin-left: 20px;
}

.desc {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  white-space: pre-line;
  height: 100%;
  display: flex;
  align-items: flex-start;
  color: #a95a00;
}

@media (max-width: 768px) {
  body {
    padding: 40px 20px;
  }

  .line {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 40px;
  }

  .label {
    font-size: 48px;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .thumb {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .desc {
    margin-left: 0;
    margin-top: 0;
    height: auto;
    font-size: 14px;
  }
}







.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
  
}

.logo-section img {
  width: 100%;         /* 부모 너비에 맞게 줄어듦 */
  max-width: 600px;    /* 최대 600px까지만 커짐 */
  height: auto;
  margin-bottom: 50px;
}

.description {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.8;
  color: #111;
  max-width: 600px;
  padding: 0 20px;
}



